# Lecture 9: Basic Introduction to Tidyverse
The tidyverse is an opinionated collection of R packages designed for data science. All packages share an underlying philosophy and common APIs.

## Tidyverse
* dplyr: data manipulation
* ggplot2: creating advanced graphics
* readr: importing data
* tibble: A tibble, or tbl_df, is a modern reimagining of the dataframe.
* tidyr: creating tidy data.
* purrr: enhancing R’s functional programming (FP).

### tidyverse and a few other topics
* readr: 使import数据更快且更节省内存
* tibble: tibble是重塑dataframe的新方法
* data.table: 处理极大的数据集 (not assessed)
* Review of the Split/Apply/Combine model and the plyr package
* purrr: 提高了R的函数式编程能力(funcitonal programming, FP)

* stringr: 处理字符串更统一的(cohesive)操作
* rvest: 网络爬虫(webscraping)的替代方法(not assessed)
* reshape2: Reshape the data(next tidy slides)
* tidyr: 数据清洗 (next tidy slides)

### Why use the tidyverse?
tidyverse中的所有库和函数都是为了满足以下两个目的：
1. 提供实现Base R函数的更快更高效的方法。
2. 语法更规整简单

# Section 1: Importing Data with Base R, readr, and fread

## readr
* tidyverse的一部分，比起Base R，readr拥有读取表格式(tabular)数据更快的框架。
* readr函数使用下划线而并非句号。
* 比起Base R，readr能够读写更多的文件类型。
* 可以读取非表格式数据。

## fread
* fread并非是tidyverse的一部分，却是data.table package的一部分。但它的速度比Base R与readr显著更快。data.table越来越受欢迎。

In [1]:
options(warn = -1)
library(rbenchmark)
library(readr)
library(data.table)
# options(readr.num_columns=0)
#
# benchmark("base R" = {
#     df <- read.csv("diamonds.csv")},
#         "readr" = {
#     df <- read_csv("diamonds.csv")},
#         "fread" = {
#     df <- fread("diamonds.csv")},
#   columns=c("test","elapsed"), order="elapsed")
df <- fread("diamonds.csv")

## Other readr functions
### read_tsv `read_tsv("file.tsv")`

    读取不被Base R支持的数据类型，例如tab-separated values。

### write_excel_csv `write_excel_csv(df,"diamonds.csv")`

    readr的`write.csv()`函数。比Base R的`write.csv()`快一倍。


### read_lines `read_lines("file.txt")`

    readr也可以支持非表格式数据(non-tabular data)，`read_lines`使文件的每一行分别被读取为其字符串形式。

# Section 2: Piping with magrittr

### Piping是什么？
* magrittr package提供了R语言中最广泛使用的函数:`%>%`，也称作"Pipe"。


* 在许多个函数嵌套中执行某个操作常常使代码变得难以理解，尤其是从内而外地理解代码的意思。Pipe通过使函数按照它们执行的顺序排列，使代码更具有可读性。


* magrittr package在大多数tidyverse package中都会被自动加载。

### Example: 
Suppose we wished to know the slope obtained from regressing a
diamond's carat on its price, rounded to 3 decimal places.

In [2]:
round(coefficients(lm(price~carat, data = df))[2], 3)

   carat
7756.426

注意到最后执行的操作是round，而这却是我们最先看到的函数。lm()是率先执行的函数，却写在代码的最里面。

In [3]:
#Alternative using the pipe

library(magrittr)
df %>% lm(price~carat,.) %>% coefficients() %>% extract(2) %>%round(3)

   carat
7756.426

默认地，传入的object会从左向右地被传递给函数，就像上个例子一样。如果想要object在别的地方取值，可以使用.来表示需要被取值的地方。

在magrittr中有一些特殊的表达符号以表示原有的符号，例如extract(1)等价于[1]，来表示提取vector的第一个元素。

# Section 3: Dataframes: tibble and data.table

## tibble
* tibble是tidyverse表达dataframe的形式，这属于dplyr package。
* tibble和dataframe存在两个主要区别，printing和subsetting。
* 将传统的dataframe转换为一个tibble使用as_tibble()。
* tibble()不会改变输入的数据类型，例如，它不会将字符串转换为factors。
* tibble()不会改变变量名称。
* tibble()不会创建row names。
* tibble的行名可以包含R语言中禁止使用的变量名称，例如`:)`和`  `

In [4]:
library("tibble")

In [5]:
# Create a tibble dataframe from scratch using tibble()

df <- tibble(
    x = 1:3,
    y = sample(seq(1,5,by=2), 3),
    z = rnorm(3)
)

In [6]:
df

  x y z
1 1 3 -2.4825905
2 2 5 -1.2503879
3 3 1 -0.8823656

In [7]:
# 为了防止控制台崩溃，print一个tibble等价于执行head()，打印出dataframe的前10项。
head(iris, 10)
print(as_tibble(iris))

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

# A tibble: 150 x 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <fct>
 1          5.1         3.5          1.4         0.2 setosa
 2          4.9         3            1.4         0.2 setosa
 3          4.7         3.2          1.3         0.2 setosa
 4          4.6         3.1          1.5         0.2 setosa
 5          5           3.6          1.4         0.2 setosa
 6          5.4         3.9          1.7         0.4 setosa
 7          4.6         3.4          1.4         0.3 setosa
 8          5           3.4          1.5         0.2 setosa
 9          4.4         2.9          1.4         0.2 setosa
10          4.9         3.1          1.5         0.1 setosa
# ... with 140 more rows

# Subsetting a tibble

In [8]:
df$x
df[["x"]]
df["x"]
typeof(df[["x"]])
typeof(df["x"])

[1] 1 2 3

[1] 1 2 3

  x
1 1
2 2
3 3

[1] "integer"

[1] "list"

In [9]:
df[,1]

  x
1 1
2 2
3 3

可以发现tibble的索引：

* 列索引：
    * 使用df$x或者df[["x"]]获得具体某列的值，数据类型为integer或double。
    * 使用df["x"]获得这一整列（包括列名），数据类型为list。

* 行索引：
    * 使用df[1,]获得第一行整行（包括列名），数据类型为list。

In [10]:
# df$x得到1 2 3，比1大的是第2、3元素，故输出为df的第二行、第三行

df[df$x>1,]

  x y z
1 2 5 -1.2503879
2 3 1 -0.8823656

In [11]:
# 如果要使用pipe，在这里需要使用占位符"."

df %>% .$x

[1] 1 2 3

### dplyr package and the tibble

• dplyr package允许我们执行数据转换的操作。大多数数据转换的任务可以通过以下六个函数配合完成：`filter`, `arrange`, `select`,`mutate`, `summarize`, and `group_by`

• 这几个来自dplyr的函数是为了在tibble上运用而设计，但也可以在传统dataframe上应用。

### Main dplyr functions

|function name|used to...|
|---|---|
|filter|通过值来选择元素|
|arrange|对行进行重新排序|
|select|通过名称来选择元素|
|mutate|通过已有的函数创建新的变量|
|summarise|将许多列进行总结|
|group_by|改变上述函数应用的范围|

## Example
• To get a feel for how these functions work in conjunction with each other, we will take a look at the nycflights13 dataset, which contains over 300,000 flight records.

• Suppose we had the research question, "Which flight path was most common for American Airlines flights to take?"

• Let's start by loading in the data.

In [12]:
library("nycflights13")
library("dplyr")
df <- as_tibble(flights)
dim(df)
head(df, 3)

Attaching package: 'dplyr'

The following objects are masked from 'package:data.table':

    between, first, last

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

[1] 336776     19

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
3 2013 1     1   542      540            2         923      850
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3 33        AA      1141   N619AA  JFK    MIA  160      1089     5    40
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00

In [13]:
# First, we'll use filter to grab only the AA flights.
# filter()通过值来选择元素
# filter(.data, ..., .preserve = FALSE)

df %>% filter(carrier == "AA") %>% head()
df %>% filter(carrier == "AA") %>% dim
dim(filter(df, carrier == "AA"))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   542      540             2         923      850
2 2013 1     1   558      600            -2         753      745
3 2013 1     1   559      600            -1         941      910
4 2013 1     1   606      610            -4         858      910
5 2013 1     1   623      610            13         920      915
6 2013 1     1   628      630            -2        1137     1140
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
2   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
3  31       AA       707   N3DUAA  LGA    DFW  257      1389     6     0
4 -12       AA      1895   N633AA  EWR    MIA  152      1085     6    10
5   5       AA      1837   N3EMAA  LGA    MIA  153      1096     6    10
6  -3       AA       413   N3BAAA  JFK    SJU  192      1598     6    30
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 06:00:00
3 2013-01-01 06:00:00
4 2013-01-01 06:00:00
5 2013-01-01 06:00:00
6 2013-01-01 06:00:00

[1] 32729    19

[1] 32729    19

In [14]:
# Next, select the variables of interest. In this case, origin and dest tell
# us where a flight started and ended.
# select()通过名称来选择元素
# select(.data, ...)

df %>% filter(carrier == "AA") %>% select(origin, dest) %>% head(5)

  origin dest
1 JFK    MIA
2 LGA    ORD
3 LGA    DFW
4 EWR    MIA
5 LGA    MIA

The goal is to count the number of occurrences of each (origin, dest) pair. To do this, we group the pairs together with group_by and then sum each of those groups with summarise.

summarise()创建一个新的dataframe，它将拥有一行或多行，每一行都是grouping vairables的组合。如果没有grouping variables，将产生单行输出以统计输入的所有元素。这个新的dataframe中有一列由所有grouping variables组成，还有一列储存了每个grouping variable对应所指定的统计量。


It will contain one column for each grouping variable and one column for each of the summary statistics that you have specified.

In [15]:
# 可以发现select()中要选择的列名似乎无所谓加不加引号，但group_by()绝对不能加。
# group_by(.data, ..., .add = FALSE, .drop = group_by_drop_default(.data))
# summarise(.data, ..., .groups = NULL)
# n() gives the current group size.

df %>% filter(carrier == "AA") %>% select("origin", "dest") %>% 
    group_by(origin, dest) %>% summarise(count = n(), .groups = "keep") %>% head()

  origin dest count
1 EWR    DFW  2054
2 EWR    LAX   365
3 EWR    MIA  1068
4 JFK    AUS   365
5 JFK    BOS  1455
6 JFK    DFW   367

In [16]:
# Finally, order the rows using arrange
# arrange(.data, ..., .by_group = FALSE)

df %>% filter(carrier == "AA") %>% select("origin", "dest") %>%
    group_by(origin, dest) %>% summarize(count = n(), .groups = "keep") %>% 
    arrange(desc(count)) %>% head()

  origin dest count
1 LGA    ORD  5694
2 LGA    DFW  4836
3 LGA    MIA  3945
4 JFK    LAX  3217
5 JFK    MIA  2221
6 EWR    DFW  2054

# data.table package (not assessed)

## data.table
* 不属于tidyverse，但由于其在处理大数据集时卓越的性能，data.table逐渐成为应用最广泛的R dataframes。
* data.table的语法受益于relational database languages，例如SQL。它的语法比dplyr的语法晦涩，但是它可以在一行代码里完成更多的任务。
* Benchmark证明了在处理一百万条以上的数据时data.table的速度是tibble的六倍。

In [17]:
library(nycflights13)
library(data.table)

# .N is an integer, length 1, containing the number of rows in the group. 
# This may be useful when the column names are not known in advance and for 
# convenience generally. When grouping by i, .N is the number of rows in 
# x matched to, for each row of i, regardless of whether nomatch is NA or 
# NULL. It is renamed to N (no dot) in the result (otherwise a column 
# called ".N" could conflict with the .N variable), unless it is explicitly
# named; e.g., DT[,list(total=.N),by=a].

df <- data.table(flights)
df[carrier == "AA", .N, by=.(origin,dest)][order(-N)] %>% head

  origin dest N
1 LGA    ORD  5694
2 LGA    DFW  4836
3 LGA    MIA  3945
4 JFK    LAX  3217
5 JFK    MIA  2221
6 EWR    DFW  2054

`.N`是integer，长度为1，包含了group里面的行数，它非常便利，并且当列的名称未知时十分有用。当通过i来grouping的时候，`.N`代表了所匹配的group的行数，无论`nomatch`是NA或者NULL。在结果里，除非它被人为命名（例如：DT[,list(total=.N),by=a]），否则它将被命名为N（如果命名为".N"则会导致和.N变量的冲突）。

In [18]:
# data.table vs tibble
df1 <- data.table(flights)
df2 <- as_tibble(flights)
benchmark("data.table" = {df1[carrier == "AA", .N, by=.(origin,dest)][order(-N)]},
          "tibble" = {df2 %>% filter(carrier == "AA") %>% count(origin, dest,sort=T)},
          columns=c("test","elapsed"),order="test")

  test       elapsed
1 data.table 0.52
2 tibble     1.51

## Alternative Dataframes

### 应该选择哪种dataframe？

• Base R dataframe适用于大多数情况。它不需要额外的支持，在处理小数据集且不需要太多操作时很有效。

• tibble提供了简单的语法，并且令数据筛选和转换更便利。在处理稍大型、混乱、且不熟悉的数据集时使用。

• data.table的语法最难，但在处理极大数据集时速度非常快。

# Section 4: Review of Split/Apply/Combine

## Example: Strikes dataset
Dataset on 18 countries over 35 years (compiled by Bruce Western, in the Sociology Department at Harvard University). The measured variables:
* country, year: country and year of data collection
* strike.volume: days on strike per 1000 workers
* unemployment: unemployment rate
* inflation: inflation rate
* left.parliament: leftwing share of the government
* centralization: centralization of unions
* density: density of unions

### Research Question
Is there a relationship between a country’s ruling party alignment (left versus right) and the volume of strikes? How could we approach this?
* Worst way: by hand, write 18 separate code blocks
* Bad way: explicit for() loop, where we loop over countries
* Best way: split appropriately, then use an apply-type function.

In [19]:
strikes <- read.csv("strikes.csv", as.is = TRUE)
dim(strikes)
head(strikes, 3)

[1] 625   8

  country   year strike.volume unemployment inflation left.parliament
1 Australia 1951 296           1.3          19.8      43
2 Australia 1952 397           2.2          17.2      43
3 Australia 1953 360           2.5           4.3      43
  centralization density
1 0.3748588      NA
2 0.3751829      NA
3 0.3745076      NA

In [20]:
# Function to compute coefficients from regressing number of 
# strikes (per 1000 workers) on leftwing share of the government.

my.strike.lm <- function(country.df){
    return(coef(lm(strike.volume~left.parliament, data=country.df)))
}

In [21]:
# Getting regression coefficients separately

# For each country, old way:
strike.list <- split(strikes, strikes$country)
strikes.coefs <- sapply(strike.list, my.strike.lm)
strikes.coefs

                Australia   Austria    Belgium    Canada    Denmark
(Intercept)     414.7712254 423.077279 -56.926780 -227.8218 -1399.35735
left.parliament  -0.8638052  -8.210886   8.447463   17.6766    34.34477
                Finland  France      Germany   Ireland   Italy      Japan
(Intercept)     108.2245 202.4261408 95.657134 -94.78661 -738.74531 964.73750
left.parliament  12.8422  -0.4255319 -1.312305  55.46721   40.29109 -24.07595
                Netherlands New.Zealand Norway     Sweden    Switzerland
(Intercept)     -32.627678  721.3464    -458.22397 513.16704 -5.1988836
left.parliament   1.694387  -10.0106      10.46523  -8.62072  0.3203399
                UK        USA
(Intercept)     936.10154 111.440651
left.parliament -13.42792   5.918647

In [22]:
# New way, in three formats:
library(plyr)
library(dplyr)

# Get back an array, note the difference to sapply()
strike.coef.a <- daply(strikes, .(country), my.strike.lm)
strike.coef.a %>% head(3) %>% print
"_____________________________________________"

# Get back a data frame
strike.coef.d <- ddply(strikes, .(country), my.strike.lm)
strike.coef.d %>% head(3) %>% print
"_____________________________________________"

# Get back a list
strike.coef.l <- dlply(strikes, .(country), my.strike.lm)
strike.coef.l %>% head(3) %>% print

------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

country     (Intercept) left.parliament
  Australia   414.77123      -0.8638052
  Austria     423.07728      -8.2108864
  Belgium     -56.92678       8.4474627

[1] "_____________________________________________"

    country (Intercept) left.parliament
1 Australia   414.77123      -0.8638052
2   Austria   423.07728      -8.2108864
3   Belgium   -56.92678       8.4474627

[1] "_____________________________________________"

$Australia
    (Intercept) left.parliament
    414.7712254      -0.8638052

$Austria
    (Intercept) left.parliament
     423.077279       -8.210886

$Belgium
    (Intercept) left.parliament
     -56.926780        8.447463

# Section 5: purrr

### pipeline

• purrr因为其各种各样的map函数而广泛使用

• map函数与Base R的那些apply函数们相似，但map函数允许pipe的使用。除此之外，有一些map函数提供了apply函数们不具有的新功能。

• 所有的purrr函数都具有**数据结构稳定性(type-stable)**。它们始终返回各函数所固定的数据类型，例如：map()返回list，map_dbl()返回double vectors。若无法返回这种数据类型则报错。

• 所有的map()函数可以接受函数、公式、character vector或numeric vector。

### map函数将输入转换为与其长度相同的vector（需要安装dplyr）：
• map()返回list或dataframe。

• map_lgl(), map_int(), map_dbl(), map_chr()返回对应类型的vector，即logical，integer，double integer，character。

• map_dfr()和map_dfc()分别返回row-binding dataframe和column-binding dataframe。

## Basic Example

In [23]:
library("purrr")

# map() will output a list.
map(c(1,exp(1),1000),log)

Attaching package: 'purrr'

The following object is masked from 'package:plyr':

    compact

The following object is masked from 'package:magrittr':

    set_names

The following object is masked from 'package:data.table':

    transpose

[[1]]
[1] 0

[[2]]
[1] 1

[[3]]
[1] 6.907755

In [24]:
# map_dbl() outputs a double precision vector.
map_dbl(1:3,log)

# It will return error if we force to use map_int().
# map_int(1:3, log)

# map() is often used in a pipeline.
1:3 %>% map_dbl(log)

[1] 0.0000000 0.6931472 1.0986123

[1] 0.0000000 0.6931472 1.0986123

In [25]:
# Write a R function
f <- function(x){
    return(log(x)+sin(x))
}

f(c(1, exp(1), 1000))

# Or use vectorized R operations
c(1, exp(1), 1000) %>% map_dbl(~log(.)+sin(.)) # 这类似于python中的lambda

[1] 0.841471 1.410781 7.734635

[1] 0.841471 1.410781 7.734635

### Research Question
• Is there a relationship between a country’s ruling party alignment (left versus right) and the volume of strikes?

• Use a pipeline to accomplish this task.

In [26]:
strike.coef <- strikes %>% split(.$country) %>% 
    map(~lm(strike.volume~left.parliament, data =.)) %>% 
    map(coef) # 最后一个map的作用是从上一个map函数得到的lm()模型中提取参数，函数为coef()
head(strike.coef, 3)

$Australia
    (Intercept) left.parliament
    414.7712254      -0.8638052

$Austria
    (Intercept) left.parliament
     423.077279       -8.210886

$Belgium
    (Intercept) left.parliament
     -56.926780        8.447463

### Research Question
• Is there a relationship between a country’s ruling party alignment (left versus right) and the volume of strikes?

• Let's use map and the pipeline to reformulate a more "tidyverse" solution:

In [27]:
library("tidyverse")
strike.coef <- strikes %>% split(.$country) %>% 
    map(~lm(strike.volume~left.parliament, data=.)) %>% 
    map_dfc(coef)

strike.coef

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.1.1     √ stringr 1.4.0
√ tidyr   0.8.3     √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x plyr::arrange()    masks dplyr::arrange()
x dplyr::between()   masks data.table::between()
x purrr::compact()   masks plyr::compact()
x plyr::count()      masks dplyr::count()
x tidyr::extract()   masks magrittr::extract()
x plyr::failwith()   masks dplyr::failwith()
x dplyr::filter()    masks stats::filter()
x dplyr::first()     masks data.table::first()
x plyr::id()         masks dplyr::id()
x dplyr::lag()       masks stats::lag()
x dplyr::last()      masks data.table::last()
x plyr::mutate()     masks dplyr::mutate()
x plyr::rename()     masks dplyr::rename()
x purrr::set_names() masks magrittr::set_names()
x plyr::summarise()  masks dplyr::summarise()
x plyr::summarize()  masks dplyr::summarize()
x purrr::transpose() masks data.table::transpose()

  Australia   Austria    Belgium    Canada    Denmark     Finland  France
1 414.7712254 423.077279 -56.926780 -227.8218 -1399.35735 108.2245 202.4261408
2  -0.8638052  -8.210886   8.447463   17.6766    34.34477  12.8422  -0.4255319
  Germany   Ireland   Italy      Japan     Netherlands New.Zealand Norway
1 95.657134 -94.78661 -738.74531 964.73750 -32.627678  721.3464    -458.22397
2 -1.312305  55.46721   40.29109 -24.07595   1.694387  -10.0106      10.46523
  Sweden    Switzerland UK        USA
1 513.16704 -5.1988836  936.10154 111.440651
2  -8.62072  0.3203399  -13.42792   5.918647

### Research Question
• Consider the following example taken directly from the tidyverse website: https://www.tidyverse.org

• The following example uses purrr to solve a fairly realistic problem:
split a data frame into pieces, fit a model to each piece, compute the
summary, then extract the $\mathit{R}^{2}$.

In [28]:
mtcars %>% split(.$cyl) %>% 
    map(~lm(mpg~wt, data=.)) %>% 
    map(summary) %>% 
    map_dbl("r.squared")

        4         6         8
0.5086326 0.4645102 0.4229655

## Miscellaneous purrr functions
• purrr同时也提供一些map()函数，它们具有apply函数们所不具有的功能。

• 例如: invoke_map()，它可以将一系列函数组成的list遍历应用在一系列input组成的list上。

### Motivation
• Suppose you want to explore the relationship unemployment has on inflation given the strikes dataset. You decide that you wish to use a robust estimation procedure, but are unsure of whether to use absolute value loss or Huber loss. You also include squared loss as a baseline.

• invoke_map() allows you to estimate the parameters of both loss functions simultaneously so that you can quickly compare their results.

• We will use gradient descent (nlm() function) to optimize the parameters for all three loss functions simultaneously.

In [29]:
# First, load in the data



df <- read_csv("strikes.csv")
x <- df %>% select(unemployment)
y <- df %>% select(inflation)

# A starting point for our betas when we run our optimization procedure.
beta <- rep(0,2)

head(df)

ERROR: Error: 'cli_h1' is not an exported object from 'namespace:cli'

In [31]:
?read_csv

In [41]:
df <- read_csv("diamonds.csv")

ERROR: Error in get(method, envir = home): lazy-load database 'C:/Users/asus/anaconda3/Lib/R/library/cli/R/cli.rdb' is corrupt

In [43]:
library("cli")

ERROR: Error: package or namespace load failed for 'cli' in get(method, envir = home):
 lazy-load database 'C:/Users/asus/anaconda3/Lib/R/library/cli/R/cli.rdb' is corrupt